<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwt.oes.dao.BankJudgeQueMapper" >
  <resultMap id="BaseResultMap" type="com.mwt.oes.domain.BankJudgeQue" >
    <id column="judge_id" property="judgeId" jdbcType="INTEGER" />
    <result column="judge_content" property="judgeContent" jdbcType="VARCHAR" />
    <result column="judge_answer" property="judgeAnswer" jdbcType="VARCHAR" />
    <result column="compose_flag" property="composeFlag" jdbcType="VARCHAR" />
    <result column="answer_explain" property="answerExplain" jdbcType="VARCHAR" />
    <result column="lang_id" property="langId" jdbcType="INTEGER" />

    <association property="paperQue" javaType="com.mwt.oes.domain.PaperQue">
      <id column="que_id" property="queId" jdbcType="INTEGER" />
      <result column="que_type" property="queType" jdbcType="INTEGER"/>
    </association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    judge_id, judge_content, judge_answer, compose_flag, answer_explain, lang_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mwt.oes.domain.BankJudgeQueExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bank_judge_que
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bank_judge_que
    where judge_id = #{judgeId,jdbcType=INTEGER}
  </select>

  <select id="getJudgeQueListByPaperId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT q.que_id,q.que_type,j.judge_id,j.judge_content,j.judge_answer,j.compose_flag,j.answer_explain,j.lang_id
    FROM paper_que q,bank_judge_que j
    WHERE paper_id=#{paperId,jdbcType=INTEGER} AND q.judge_id=j.judge_id
  </select>

  <select id="getRandomJudgeByCountAndLangId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT * FROM bank_judge_que WHERE lang_id=#{langId,jdbcType=INTEGER} ORDER BY RAND() LIMIT #{judgeNum,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bank_judge_que
    where judge_id = #{judgeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mwt.oes.domain.BankJudgeQueExample" >
    delete from bank_judge_que
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mwt.oes.domain.BankJudgeQue" >
    insert into bank_judge_que (judge_id, judge_content, judge_answer, 
      compose_flag, answer_explain, lang_id
      )
    values (#{judgeId,jdbcType=INTEGER}, #{judgeContent,jdbcType=VARCHAR}, #{judgeAnswer,jdbcType=VARCHAR}, 
      #{composeFlag,jdbcType=VARCHAR}, #{answerExplain,jdbcType=VARCHAR}, #{langId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mwt.oes.domain.BankJudgeQue" >
    insert into bank_judge_que
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="judgeId != null" >
        judge_id,
      </if>
      <if test="judgeContent != null" >
        judge_content,
      </if>
      <if test="judgeAnswer != null" >
        judge_answer,
      </if>
      <if test="composeFlag != null" >
        compose_flag,
      </if>
      <if test="answerExplain != null" >
        answer_explain,
      </if>
      <if test="langId != null" >
        lang_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="judgeId != null" >
        #{judgeId,jdbcType=INTEGER},
      </if>
      <if test="judgeContent != null" >
        #{judgeContent,jdbcType=VARCHAR},
      </if>
      <if test="judgeAnswer != null" >
        #{judgeAnswer,jdbcType=VARCHAR},
      </if>
      <if test="composeFlag != null" >
        #{composeFlag,jdbcType=VARCHAR},
      </if>
      <if test="answerExplain != null" >
        #{answerExplain,jdbcType=VARCHAR},
      </if>
      <if test="langId != null" >
        #{langId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mwt.oes.domain.BankJudgeQueExample" resultType="java.lang.Integer" >
    select count(*) from bank_judge_que
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bank_judge_que
    <set >
      <if test="record.judgeId != null" >
        judge_id = #{record.judgeId,jdbcType=INTEGER},
      </if>
      <if test="record.judgeContent != null" >
        judge_content = #{record.judgeContent,jdbcType=VARCHAR},
      </if>
      <if test="record.judgeAnswer != null" >
        judge_answer = #{record.judgeAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.composeFlag != null" >
        compose_flag = #{record.composeFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.answerExplain != null" >
        answer_explain = #{record.answerExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.langId != null" >
        lang_id = #{record.langId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bank_judge_que
    set judge_id = #{record.judgeId,jdbcType=INTEGER},
      judge_content = #{record.judgeContent,jdbcType=VARCHAR},
      judge_answer = #{record.judgeAnswer,jdbcType=VARCHAR},
      compose_flag = #{record.composeFlag,jdbcType=VARCHAR},
      answer_explain = #{record.answerExplain,jdbcType=VARCHAR},
      lang_id = #{record.langId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mwt.oes.domain.BankJudgeQue" >
    update bank_judge_que
    <set >
      <if test="judgeContent != null" >
        judge_content = #{judgeContent,jdbcType=VARCHAR},
      </if>
      <if test="judgeAnswer != null" >
        judge_answer = #{judgeAnswer,jdbcType=VARCHAR},
      </if>
      <if test="composeFlag != null" >
        compose_flag = #{composeFlag,jdbcType=VARCHAR},
      </if>
      <if test="answerExplain != null" >
        answer_explain = #{answerExplain,jdbcType=VARCHAR},
      </if>
      <if test="langId != null" >
        lang_id = #{langId,jdbcType=INTEGER},
      </if>
    </set>
    where judge_id = #{judgeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mwt.oes.domain.BankJudgeQue" >
    update bank_judge_que
    set judge_content = #{judgeContent,jdbcType=VARCHAR},
      judge_answer = #{judgeAnswer,jdbcType=VARCHAR},
      compose_flag = #{composeFlag,jdbcType=VARCHAR},
      answer_explain = #{answerExplain,jdbcType=VARCHAR},
      lang_id = #{langId,jdbcType=INTEGER}
    where judge_id = #{judgeId,jdbcType=INTEGER}
  </update>
</mapper>